extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-projects
    .inner-wrapper.flex-row-wrap.two-col
      .project-info-box.box

        
        
        h1=projectName

        
        p=projectDescription

      .project-tech-links-box.box
        h6 Technologies
        ul

          
          each tech ,index in projectTechs
            li=tech
          

       
        a.btn-link(href=projectLive target="blank") Live Demo
        a.btn-link(href=projectGit target="blank") GitHub Repo

    .project-img-box.box

      
      
      img.project-img(src=projectPics[1], alt=projectName+" pic1")
      img.project-img(src=projectPics[2], alt=projectName+" pic2")
      img.project-img(src=projectPics[3], alt=projectName+' pic3')

    nav.nav
      a(href='/')
        span &larr;
        |  Back
